body {
	background-color: transparent;
}

/* ---- table ---- */
.table {
	border-collapse: collapse;
	width: 100%;
}

.table tr:hover {
	background-color: #ffff9940;
}

.table th {
	background-color: #444;
	color: #fff;
}

.table,
.table th,
.table td {
	border: 1px solid #ccc;
}

.table th,
.table td {
	padding: 0.2rem;
}

.table th {
	text-align: left;
	position: relative;
}

.resizer {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	cursor: col-resize;
	user-select: none;
}

.resizer:hover,
.resizing {
	border-right: 2px solid blue;
}

.resizable {
	border: 1px solid gray;
	height: 100px;
	width: 100px;
	position: relative;
}

.subtle-callstack-frame {
	color:#444;
	font-style: italic
}