body {
	background-color: transparent;
}

/* ---- table ---- */
.table {
	border-collapse: collapse;
}

.table,
.table th,
.table td {
	border: 1px solid #444;
}

.table th,
.table td {
	padding: 0.2rem;
}

.table th {
	position: relative;
}

.resizer {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	cursor: col-resize;
	user-select: none;
}

.resizer:hover,
.resizing {
	border-right: 2px solid blue;
}

.resizable {
	border: 1px solid gray;
	height: 100px;
	width: 100px;
	position: relative;
}